@media only screen and (max-width: 760px){
    #sections{
        flex-direction: column;
    }
    #halves{
        flex-direction: column-reverse;
    }
    #separator{
        border: 0;
    }
    .left,.right,.first,.second{
        width: 100%;
    }
}
@media only screen and (min-width: 761px){
    #sections{
        flex-direction: row;
    }
    #halves{
        flex-direction: row;
    }
    #separator{
        border: 1px;
    }
    .first,.second{
        width: 50%;
    }
    .left{
        width: 75%;
    }
    .right{
        width: 25%;
    }
    /* .nav-item {
        display: none;
       } */
}

.bttn{
     transition-duration: 0.3s;
}
.bttn.hover{
    transition: all 0.1s ease-in-out;
    box-shadow: none;
    padding:1.5px 2px 1.5px 2px;
    box-shawdow: 0px 0px 10px 0.5px rgb(154,230,240);
}

.bttn{
    align-self: centre;
    border-radius:15%;
    border-color: antiqewhite;
}
