

.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./DevelopersPic.jpg');
    height: 90vh;
    overflow: hidden;
    width: 100vw;
    background-size: cover;
}
.reg-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(135, 207, 235, 0.5);
    border: 5px solid rgb(2, 2, 2);
    border-radius: 20px;
    padding: 20px 50px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.reg-box div{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.reg-box input{
    border-radius: 10px;
    padding: 2px 5px;
}
.btnn{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400 !important;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    
}


.btnn:hover,
.btnn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btnn:hover {
  transform: translateY(-1px);
}

.btnn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
