@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  align-content: flex-start;
  flex-wrap: wrap;
}
/* 
.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('register.jpg');
    background: #d09696;
    width: 100vw;
    padding: 30px;
    background-size: 100%;
}
.reg-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 202, 241, 0.5);
    border: 3px solid rgb(2, 2, 2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px 50px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.reg-box div{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.reg-box input{
    border-radius: 10px;
    padding: 2px 5px;
}
.btnn{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400 !important;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    
}


.btnn:hover,
.btnn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btnn:hover {
  transform: translateY(-1px);
}

.btnn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
} */


.register-box{
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0,0,0,0.048), 0 12.8px 10.5px rgba(0,0,0,0.58) ;
  width: 550px;
  max-width: 100%;
}

.reg-box{
  background-color: #b25dda;
  padding: 30px 0;
}

.reg-box h2{
  color: #000;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form{
  padding: 40px;
}

.form-control{
  margin-bottom: 35px;
  position: relative;
}



.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input{
  width: 100%;
  border: 2px solid #f0f0f0;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px;
  display: block;
}

.form-control input:focus{
  outline: 0;
  border-color: #777;
}

.form-control.success input{
  border-color: #39df7e;
}

.form-control.error input{
  border-color: #df3434;
}

.form-control i {
  position: absolute;
  right: 12px;
  top: 40px;
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}

.form-control small{
  color: #df3434;
  position: absolute;
  left: 0;
  bottom: -20px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle{
  color: #39df7e;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
  color: #df3434;
  visibility: visible;
}

.form .btn{
  background: #b25dda;
  border-radius: 5px;
  border: none;
  outline: none;
  display: block;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 15px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.form .btn:hover{
  background: #c59cd8;
}
