.reg-btn{
    position: fixed;
    right: 20px;
    margin-top: 20px;
    color:blue;
    background-color: skyblue;
    border-radius: 20px;
    padding: 4px 12px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
}

.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./DevelopersPic.jpg');
    height: 90vh;
    overflow: hidden;
    width: 100vw;
    background-size: cover;
}
.reg-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(135, 207, 235, 0.5);
    border: 5px solid skyblue;
    border-radius: 20px;
    padding: 20px 50px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.reg-box div{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.reg-box input{
    border-radius: 10px;
    padding: 2px 5px;
}
.reg-box button{
    margin-top: 20px;
    border: 2px solid skyblue;
    border-radius: 10px;
    cursor: pointer;
}
