@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* overflow-x: hidden; */
}
body{
    background-color: #CAF0F8;
    /* position: relative; */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #CAF0F8 35%, #9ee79a);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgba(10, 10, 20, 0.792),
    rgb(77, 115, 230, 1.931)
  );
  border-radius: 20px;
}

.body-head{
  position: relative;
}
.logo{
    height: 51px;
    width: 53px;
}
nav{
  background: linear-gradient(to right, #CAF0F8 35%, #9ee79a) !important;
}
.navbar-brand img{
  width: 148px;
  height: 52px;
  margin-left: 20px;
}
.navbar-heading p{
font-size: 30px;
margin: auto 5px;
font-family: 'Roboto Serif', serif;
font-weight:bolder;
color: rgb(252, 250, 250);
text-shadow: 4px 3px 8px rgb(4, 4, 102);
}
.nav-item a {
  font-size: 20px;
  color: black !important ;
  margin-right: 9px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 1000;
  padding: 12px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgba(77, 115, 230, 0.71), rgba(15, 15, 23, 0.192)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
.nav-item a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.nav-item a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}
.navbar-toggler i:hover {
    transform: none;
}

/* Navabr modified starts */
#nav{
  height: 4.3rem;
}

.nav_link{
  color: #000;
  font-size: 1.1rem;
  transition: .2s ease-in-out;
}

.nav_link:hover{
  color: #1f6b87;
}
/* Navabr modified ends */
.myteam{
    display: grid;
    place-items: center;
}

.about-us-section {
    text-align: center;
    min-height: 100vh;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.left-align-text {
    text-align: left;
}

.aim1{
    margin: 5% 10%;
}
.aim ul li{
    color: #023E8A;
    font-size: 25px;
    font-family: "Zilla Slab", serif;
}
.aim{
    color: #023E8A;
    font-size: 25px;
    font-family: "Zilla Slab", serif;
}

/* Registration button css */
.reg-btn
{
  display: block;
  padding: 10px 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px rgb(201, 255, 201);
  border-radius: 30px;
  background: linear-gradient(rgb(135, 176, 237),rgb(93, 127, 179));
}

.reg-btn a
{
  color: black;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.reg-btn:hover
{
  transition: all 0.1s ease-in-out;
  box-shadow: none;
  padding: 10px 25px 10px 20px;
  box-shadow:  0px 0px 10px 0.5px rgb(143, 242, 255);

}

.reg-btn a:hover
{
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 20px;
  background: #eeeeee;
  box-shadow: 0px 0px 20px 1px #daedda, -20px -20px 60px #eeeeee;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  border-radius: 10px;
  transform: scale(1.1);
  box-shadow: 20px 20px 60px #a2dbe5, -20px -20px 60px #e9e9ec;
}

.card img {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #8ed3c3, -10px -10px 50px #9edfe0;
}

.neo-button {
    width: 50px;
    height: 50px;
    outline: 0 !important;
    cursor: pointer;
    font-size: 20px;
    border: none;
    margin-right: 13px;
    border-radius: 50%;
    /* background-color: #e4dddd; */
    background: linear-gradient(145deg, #d5cccc, #ffffff);
    /* background-color: white;
    background: linear-gradient(145deg, #d5cccc, #ffffff); */
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}
.f-neo-button {
  width: 30px;
  height: 30px;
  outline: 0 !important;
  cursor: pointer;
  font-size: 20px;
  border: none;
  margin-right: 13px;
  border-radius: 50%;
  /* background-color: #e4dddd; */
  background: linear-gradient(145deg, #d5cccc, #ffffff);
  /* background-color: white;
  background: linear-gradient(145deg, #d5cccc, #ffffff); */
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}
.neo-button:active,.f-neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff
}
button {
    background: linear-gradient(145deg, white, rgb(45, 117, 217));
    background-color:black;
    transition: 0.7s;
}
.fa-twitter {
    color: #55acee
}

.neo-button:hover,.f-neo-button:hover,.f-neo-button:hover .fa-brands ,.neo-button:hover .fa-brands {
    transition: 0.7s;
    color: white;
}

.neo-button:nth-child(1):hover,.f-neo-button:nth-child(1):hover {
    background: #1DA1F2;
}

.neo-button:nth-child(2):hover,.f-neo-button:nth-child(2):hover {
    background: #0A66C2;
}

.neo-button:nth-child(3):hover,.f-neo-button:nth-child(3):hover {
    background: #f435b7;
}

.neo-button:nth-child(4):hover,.f-neo-button:nth-child(4):hover {
    background: #333;
}

.fa-linkedin-in {
    color: #0077b5
}

.fa-instagram {
    color: #f435b7
}

.fa-github {
    color: #171515
}

/*Styling for Notification Starts*/
#notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.notification {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #058da8;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification-text {
  flex-grow: 1;
  font-size: 16px;
  margin-right: 10px;
  line-height: 1.5;
}

.notification-reminder {
  background-color: #058da8;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.notification.hidden {
  transform: translateY(0);
  opacity: 1;
}

/*Styling for Subscribe/Unsubscribe Button starts*/
.custom-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.custom-button:hover{
  color: wheat;
  background: black;
  transition-duration: 5ms;
}

.custom-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .custom-button {
    padding: 0.25em 0.75em;
  }
  .nav-link {
    padding-left: 8.2px !important;
  }
}

.subscribe-button{
  float: right;
  margin-top: -40px;
}
.unsubscribe-button{
  float: right;
  margin-top: -40px;
}
.close-button {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #f44336;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}


/*Styling footer starts */
    #nav{
height: 4.3rem;
width: 100vw;

}
.footer .item.social {
    text-align: center;
}
@media (max-width:991px) {
    .footer .item.social {
        text-align: center;
        margin-top: 20px;
    }
}
@media (max-width: 502px) {
    h3 {
        margin: 0px 30%;
    }
    
    div h2 {
        margin: 10px 36%;
    }
    
    .aim {
        padding-top: 1px;
    }
}
.footer .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: rgb(17, 18, 109);
    opacity: 0.75;
}
.footer .item.social>a:hover {
    opacity: 0.9;
}
.footer .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}
.wrapper {
    margin: 50px auto;
}
.divtype {
    position: relative;
    display: flex;
    height: 30px;
    border: 0;
    border-radius: 30px;
    background: #fff;
}
.divtype span {
    position: absolute;
    top: 5px;
    left: 5px;
    display: grid;
    place-items: center;
    width: 100px;
    font-size: 0.875rem;
    border-radius: inherit;
    background: #3abced;
    color: #242424;
    pointer-events: none;
    transition: all 0.35s;
    letter-spacing: 1px;
}
.divtype input {
    flex: 1 1 auto;
    padding-left: 6.5rem;
    height: inherit;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    text-indent: 0.625rem;
    transition: all 0.35s;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.divtype input::placeholder {
    color: #9b9ba5;
}
.divtype input:focus {
    transform: translateX(-100px);
}
.divtype input:focus~span {
    transform: translateY(-30px);
}
.footer {
    width: 100%;
    padding-top: 50px;
    color: #121414;
    background-color: #78b075;
}
.footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}
.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}
.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}
.footer ul a:hover {
    opacity: 0.8;
}
.footer .item>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    color: rgb(17, 18, 109);
    opacity: 0.75;
    margin: 0 2px;
}
.footer .item.social>a:hover {
    opacity: 0.9;
}
.input {
    padding: 6px 18px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}
.button-for-footer {
    padding: 6px 18px;
    outline: none;
    background-color: #928ade;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #44d2dc;
    align-self: center;
    cursor: pointer;
}
.button-for-footer:hover {
    background-color: #b6a2ec;
}
.button-for-footer:active {
    background-color: #9e32f0;
    box-shadow: 0 5px #5fd7df;
    transform: translateY(4px);
}
.copyright {
    position: relative;
    bottom: -14px;
    text-align: center;
    letter-spacing: 1px;
}
.footer {
    border: 1px solid #48CAE4;
}

/* Styling footer ends*/

/* Media query footer starts*/
@media (max-width:768px) {
    .ic {
        margin: 8px 2px;
    }
}

/* Media query footer ends*/
=======
    .footer{
      width: 100%;
      position: relative;
      bottom: 0;
      padding: 100px 0 30px;
      background: linear-gradient(to right, #CAF0F8 35%, #9ee79a);
      border-top-left-radius: 120px;
      color: #023E8A;
      font-size: 16px;
      font-family: "Zilla Slab", serif;
      line-height: 20px;
    }
    .f-row{
      width: 100%;
      margin:auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;

    }
    .f-col{
      flex-basis: 25%;
      padding: 10px;
    }
    .f-logo{
      width: 150px;
      margin-bottom: 30px;
    }
    .f-col h3{
      width: -moz-fit-content;
      width: fit-content;
      margin-bottom: 40px;
      position: relative;
    }
    ul li{
      list-style: none;
      margin-left: 8px;
      padding:0px 10px;
      padding-right: 5px;
      border-right: 1px solid transparent;
    }
    ul li a{
      text-decoration: none;
      color: #023E8A;
    }
    li:last-child{
      border-right: none;
    }
    .f-form{
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #fff;
      margin-bottom: 50px;
    }
    .f-form .far{
      font-size: 18px;
      margin-right: 10px;
    }
    .f-form input{
      width: 100%; 
      background: transparent;
      color: #fff;
      border: 0;
      outline: none;
    }
    .f-form button{
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    .f-form button .fas{
      font-size: 16px;
      color: #fff;
    }
    .f-social-icons .fab{
      width: 80px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;
    }

/* Styling footer ends*/

.f-hr{
  width: 90%;
  border: 0;
  border-bottom: 2px solid #fff;
  margin: 20px auto;
}
.f-copyright{
  text-align: center;
}

/* Media query footer starts*/

@media (max-width:768px) {
 .footer{
  bottom: unset;
 }
 .f-col{
  flex-basis: 100%;
 }
 .nav-item {
  display: none;
 }
 .nav-link {
  padding-left: 20px !important;
 }
}

/* Media query footer ends*/

/* Privacy page */

 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1; 
}
header {
  
  color: #161515;
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 24px;
}
.container {
  padding: 20px;
}
p {
  margin-bottom: 20px;
}
#butwhy{
  font-size:30px;
  margin: 0px 40%;
}
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    header {
        font-size: 18px;
    }
   .main-heading {
        font-size: xx-large;
    }
    .sub-heading {
        
        font-size: x-large;
    }
    #butwhy{
      margin:0;
    }
}

/* Privacy page */


/* Project Maintainers,Admins Contributors Section*/
.Admins {
  text-align: center;
  padding: 20px;
}

.Admins h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  text-align: center;
  margin: 10px 100px; 
}

.user img {
  max-width: 150px;
  border-radius: 50%; 
  margin: 20px 0 20px; 
}

.user p {
  font-weight: bold;
  margin: 0; 
}

.user img:hover {
  box-shadow: 0 0 50px #78b075; 
}


/* Scroll animation */

section .animate{
  transition: 2s;
}

.sec-1
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:linear-gradient(rgba(226, 255, 226, 0.493),rgba(214, 239, 255, 0.422));
  padding-top: 50px;
}

.sec-1 .animate{
  transform: translateX(100%);
  transition: 2s;
}

.sec-1.show-animate .animate{
  transform: translateX(0);
  transition: 2s;
}

.sec-2 .animate{
  transform: translateX(-100%);
}

.sec-2.show-animate .animate{
  transform: translateX(0);
}

.sec-3 .animate{
  transform: translateX(200%);
  transition: 4s;
}

/* .sec-3.show-animate .animate{
  transform: translateX(0);
  transition: 5s;
}

.sec-4 .animate{
  opacity: .5;
  transition-delay: calc(.1s * var(--i));
} */

.sec-4.show-animate .animate{
 opacity: 1;
 transition-delay: calc(.03s * var(--i));
}


@media screen and (max-width: 468px) {
  .sec-1 .animate{
    transform: translateX(0);
  }
  .sec-2 .animate{
    transform: translateX(0);
  }
  .sec-3 .animate{
    transform: translateX(0);
  }
  .sec-4 .animate{
    opacity: 1;
  }
}
@media screen and (max-width: 530px) {
  .image-container{
    display: block;
  }
  #butwhy{
    font-size: 18px;
  }
  p{
    font-size: 13px;
  }
  .aim ul li{
    font-size: 13px;
    margin: 10px 30px;
  }
  .aim ul{
    margin-top:10px;
  }
  ul{
    font-size: 13px;
  }
  }
  @media screen and (max-width: 408px){
    p{
      margin:0 38px;
    }
  }
